/*

!/arch-wiki
!/change-brightness
!/change-volume
!/counter
!/debug-message
!/dunst-espeak-critical
!/dunst-espeak-low
!/dunst-espeak-normal
!/emoji-menu
!/gource-video
!/grub-playtune
!/layoutmenu.sh
!/Makefile
!/mount-menu
!/music-menu
!/mpdnotify
!/notification-sound
!/notify-music
!/notify-sudo
!/notify-wallpaper
!/onefetch-languages
!/power-menu
!/preview
!/progress-ligatures
!/rickroll
!/sb-battery
!/sb-brightness
!/sb-clock
!/sb-cpu
!/sb-date
!/sb-disk
!/sb-disk-activity
!/sb-internet
!/sb-kernel
!/sb-mem
!/sb-music
!/sb-network-traffic
!/sb-news
!/sb-packages
!/arch-linux-upgrade
!/sb-volume
!/sb-weather
!/scratchpad
!/screenshot
!/scrolling
!/startWayland
!/startWM
!/startX
!/texclear
!/tmux-scratchpad
!/toggle-mute
!/wacom
!/wallpaper
!/wallpaperLoop
!/waybar-autoreload
!/wl-clipboard-history

!**/README.md
!/.gitignore
