/*
!/README.md
!/.gitignore

!/arch-wiki
!/change-volume
!/counter
!/dunst-espeak-critical
!/dunst-espeak-low
!/dunst-espeak-normal
!/grub-playtune
!/layoutmenu.sh
!/mountmenu
!/mpdnotify
!/notify-music
!/onefetch-languages
!/preview
!/progress-ligatures
!/rickroll
!/sb-battery
!/sb-brightness
!/sb-clock
!/sb-cpu
!/sb-date
!/sb-disk
!/sb-disk-activity
!/sb-internet
!/sb-kernel
!/sb-mem
!/sb-music
!/sb-network-traffic
!/sb-news
!/sb-packages
!/sb-popupgrade
!/sb-volume
!/sb-weather
!/scratchpad
!/screenshot
!/select-emoji
!/select-music
!/startWayland
!/startX
!/texclear
!/tmux-scratchpad
!/toggle-mute
!/wacom
!/wallpaper
!/wallpaperLoop
!/waybar-autoreload
!/wl-clipboard-history
