/*

!/arch-linux-upgrade
!/arch-wiki
!/brightness
!/clipboard
!/commit
!/counter
!/debug-message
!/dunst-espeak-critical
!/dunst-espeak-low
!/dunst-espeak-normal
!/dir-compression-info
!/emoji-menu
!/extract
!/gource-video
!/grub-playtune
!/layoutmenu.sh
!/Makefile
!/matlab-editor
!/mkexrc
!/mount-menu
!/mpdnotify
!/music-menu
!/notification-sound
!/notify-music
!/notify-sudo
!/onefetch-languages
!/pass
!/power-menu
!/preview
!/progress-ligatures
!/qrwifi
!/rickroll
!/sb-battery
!/sb-brightness
!/sb-clock
!/sb-cpu
!/sb-date
!/sb-disk
!/sb-disk-activity
!/sb-internet
!/sb-kernel
!/sb-mem
!/sb-music
!/sb-network-traffic
!/sb-news
!/sb-packages
!/sb-volume
!/sb-weather
!/scratchpad
!/screenshot
!/scrolling
!/shareff
!/shredd
!/startWayland
!/startWM
!/startX
!/texclear
!/tmux-scratchpad
!/toggle-mute
!/update-repos
!/volume
!/wacom
!/wallpaper
!/wallpaperLoop
!/waybar-autoreload
!/wl-clipboard-history

!**/README.md
!/.gitignore
